In [90]:
import numpy as np
import pandas as pd
import os

In [91]:
os.chdir('/Users/cody/Documents/GitHub/DSCI235-Project/235_Project')

In [92]:
h1 = pd.read_csv('csv/1819_Hockey.txt')
h2 = pd.read_csv('csv/1920_Hockey.txt')
h3 = pd.read_csv('csv/2021_Hockey.txt')
h4 = pd.read_csv('csv/21-22 Season.txt')
h5 = pd.read_csv('csv/2223_Hockey.txt')
h6 = pd.read_csv('csv/23-24 Season.txt')

#Equivalent of Cbind in r
#pd.concat([a,b], axis=1)

hockey_df = pd.concat([h1,h2,h3,h4,h5,h6], axis=0)
hockey_df = hockey_df.drop(columns = ['-9999'])

In [93]:
len(hockey_df)

6490

In [94]:
hockey_df['Pos'].unique()

#To get the number of players in each position hockey_df['Pos'].value_counts()
print(hockey_df['Pos'].value_counts())

Pos
D        2232
C        1995
LW       1034
RW        832
F         213
C/LW       69
C/RW       45
LW/C       21
W          16
C/W        12
D/RW       11
RW/C        7
LW/RW       2
W/C         1
Name: count, dtype: int64

In [95]:
hockey_df['F'] = np.where(hockey_df['Pos'].str.contains('F'), 1, 0)
hockey_df['D'] = np.where(hockey_df['Pos'].str.contains('D'), 1, 0)
hockey_df['C'] = np.where(hockey_df['Pos'].str.contains('C'), 1, 0)
hockey_df['W'] = np.where(hockey_df['Pos'].str.contains('W'), 1, 0)

In [96]:
hockey_df[(hockey_df['Pos'] == 'RW/C')].head(50)

,Rk,Player,Age,Tm,Pos,GP,CF,CA,CF%,CF% rel,...,TOI(EV),TK,GV,E+/-,SAtt.,Thru%,F,D,C,W
48,43,Jay Beagle,33.0,VAN,RW/C,57,451,665,40.4,-9.3,...,10:56,13,10,-8.5,71.0,63.4,0,0,1,1
47,42,Jay Beagle,34.0,VAN,RW/C,55,379,637,37.3,-13.4,...,9:29,14,7,-10.1,73.0,67.1,0,0,1,1
53,50,Jay Beagle,35.0,VAN,RW/C,30,226,262,46.3,-2.0,...,9:15,11,4,-2.5,38.0,55.3,0,0,1,1
64,49,Jay Beagle,36.0,ARI,RW/C,33,270,389,41.0,-5.8,...,11:36,9,7,-9.5,40.0,60.0,0,0,1,1
239,195,Justin Danforth,28.0,CBJ,RW/C,45,504,481,51.2,4.1,...,11:48,15,2,-5.8,131.0,55.0,0,0,1,1
217,182,Justin Danforth,29.0,CBJ,RW/C,6,70,67,51.1,6.9,...,10:56,1,1,0.5,20.0,50.0,0,0,1,1
194,171,Justin Danforth,30.0,CBJ,RW/C,71,870,982,47.0,-1.4,...,12:35,27,12,-5.4,174.0,49.4,0,0,1,1

In [97]:
hockey_df = hockey_df.drop(columns=['Rk','Pos','F'])

In [98]:
hockey_df.to_csv('Non_Goalie_advanced_data.csv', index=False)

In [99]:
h1 = pd.read_csv('csv/18_19_skater_basic.txt')
h2 = pd.read_csv('csv/19_20_skater_basic.txt')
h3 = pd.read_csv('csv/20_21_skater_basic.txt')
h4 = pd.read_csv('csv/21_22_skater_basic.txt')
h5 = pd.read_csv('csv/22_23_skater_basic.txt')
h6 = pd.read_csv('csv/23_24_skater_basic.txt')

In [100]:
hockey_bdf = pd.concat([h1,h2,h3,h4,h5,h6], axis=0)
hockey_bdf.head()

,Rk,Player,Age,Team,Pos,GP,G,A,PTS,+/-,...,FOW,FOL,FO%,BLK,HIT,TAKE,GIVE,Awards,-9999\,-9999
0,1,Nikita Kucherov,25.0,TBL,RW,82,41,87,128,24.0,...,0.0,3.0,0.0,31.0,44,58,89,ASGASnhl-1Hart-1Ross-1Pearson-1,kucheni01\,NaN
1,2,Connor McDavid,22.0,EDM,C,78,41,75,116,3.0,...,428.0,490.0,46.6,30.0,39,99,89,ASGASnhl-1Byng-5Hart-3,mcdavco01\,NaN
2,3,Patrick Kane,30.0,CHI,RW,81,44,66,110,2.0,...,1.0,4.0,20.0,18.0,21,42,54,ASGASnhl-2ASnhl-5Byng-13Hart-8,kanepa01\,NaN
3,4,Leon Draisaitl,23.0,EDM,C,82,50,55,105,2.0,...,677.0,663.0,50.5,26.0,57,71,116,ASGASnhl-4ASnhl-8,draisle01\,NaN
4,5,Sidney Crosby,31.0,PIT,C,79,35,65,100,18.0,...,1012.0,814.0,55.4,43.0,85,54,67,ASGASnhl-2Byng-27Hart-2Selke-4,crosbsi01\,NaN

In [101]:
hockey_bdf.columns

Index(['Rk', 'Player', 'Age', 'Team', 'Pos', 'GP', 'G', 'A', 'PTS', '+/-',
       'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EV', 'PP', 'SH', 'SOG', 'SPCT',
       'TSA', 'TOI', 'ATOI', 'FOW', 'FOL', 'FO%', 'BLK', 'HIT', 'TAKE', 'GIVE',
       'Awards', '-9999\', '-9999'],
      dtype='object')

In [102]:
hockey_bdf = hockey_bdf.drop(columns=['-9999'])

In [103]:
print(hockey_bdf['Pos'].value_counts())

Pos
D     2244
C     2121
LW    1057
RW     839
G      658
F      213
W       17
Name: count, dtype: int64

In [104]:
hockey_bdf['D'] = np.where(hockey_bdf['Pos'].str.contains('D'), 1, 0)
hockey_bdf['C'] = np.where(hockey_bdf['Pos'].str.contains('C'), 1, 0)
hockey_bdf['W'] = np.where(hockey_bdf['Pos'].str.contains('W'), 1, 0)

In [105]:
hockey_bdf.head()

,Rk,Player,Age,Team,Pos,GP,G,A,PTS,+/-,...,FO%,BLK,HIT,TAKE,GIVE,Awards,-9999\,D,C,W
0,1,Nikita Kucherov,25.0,TBL,RW,82,41,87,128,24.0,...,0.0,31.0,44,58,89,ASGASnhl-1Hart-1Ross-1Pearson-1,kucheni01\,0,0,1
1,2,Connor McDavid,22.0,EDM,C,78,41,75,116,3.0,...,46.6,30.0,39,99,89,ASGASnhl-1Byng-5Hart-3,mcdavco01\,0,1,0
2,3,Patrick Kane,30.0,CHI,RW,81,44,66,110,2.0,...,20.0,18.0,21,42,54,ASGASnhl-2ASnhl-5Byng-13Hart-8,kanepa01\,0,0,1
3,4,Leon Draisaitl,23.0,EDM,C,82,50,55,105,2.0,...,50.5,26.0,57,71,116,ASGASnhl-4ASnhl-8,draisle01\,0,1,0
4,5,Sidney Crosby,31.0,PIT,C,79,35,65,100,18.0,...,55.4,43.0,85,54,67,ASGASnhl-2Byng-27Hart-2Selke-4,crosbsi01\,0,1,0

In [106]:
hockey_bdf.to_csv('Non_Goalie_basic_data.csv', index=False)